[submodule "server/webserverlib"]
	path = server/webserverlib
	url = git@github.com:letsflytothemoon/webserverlib.git
[submodule "webserverlib"]
	path = webserverlib
	url = git@github.com:letsflytothemoon/webserverlib
[submodule "webserverlib/"]
	branch = v1.0
